* {
  margin: 0;
  padding: 0;
}


.wrapper {
  height: 150vh;
  &__sticky_header{
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%; 
    }
    width: 100%;
    background-color: #fff;
    display: none;
    box-shadow: 0px 0px 4px 3px #ccc;
    justify-content: flex-start;
    &__nav {
      padding-top: 10px;
      width: 50%;
      &__list {
        float: left;
        width: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        &--item {
          padding:2% 0;
          color: #5a5a5a;
          font-size: 18px;
          text-decoration: none;
          font-family: Georgia, Times, serif;
          font-weight: 500;
          font-style: italic;
          letter-spacing: 2px;

          &:hover {
            transition: 0.5s;
            box-shadow: inset 0 -3px 0px 0 rgb(255, 8, 0);
            cursor: pointer;
          }
        }
      }
    
    &__request {
      height: 30px;
      justify-items: center;
      &--btn {
        padding: 10px 5px;
        height: 70%;
        background: #fd2500;
        color: #fff;
        font-size: 15px;
        z-index: 1;
        transition: padding 0.5s;
        box-shadow: 0 3px 5px -1px #000;
        cursor: pointer;
        &:hover {
          padding-top: 16px;
          padding-bottom: 16px;
        }
      }
      }
    }
  }
}

.wrapper__header {
  display: flex;
  box-shadow: 0px 0px 4px 3px #ccc;
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%; 
  }
  &__container {
    width: 60%;
    &__section {
      display: flex;
      width: 100%;
      &__social {
        margin:1% 1% 0 1%;
        width: 75%;
        border-bottom: 1px solid #ccc;
        text-align: right;
        &--icons {
          padding:0 5px;
          display: inline;
        }
      }
      &__request {
        height: 30px;
        justify-items: center;
        &--btn {
          padding: 10px 5px;
          height: 60%;
          background: #fd2500;
          color: #fff;
          font-size: 14px;
          z-index: 1;
          transition: padding 0.5s;
          box-shadow: 0 3px 5px -1px #000;
          cursor: pointer;
          &:hover {
            padding-top: 14px;
            padding-bottom: 14px;
          }
        }
      }
    }
    &__nav {
      width: 90%;
      &__list {
        float: right;
        width: 90%;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        &--item {
          padding:3.5% 0;
          color: #5a5a5a;
          font-size: 18px;
          text-decoration: none;
          font-family: Georgia, Times, serif;
          font-weight: 500;
          font-style: italic;
          letter-spacing: 2px;

          &:hover {
            transition: 0.5s;
            box-shadow: inset 0 -3px 0px 0 rgb(255, 8, 0);
            cursor: pointer;
          }
        }
      }
    }
  }
}

.wrapper-main__img {
  img{
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wrapper__header {
    &__image {
      padding-left: 5%;
      height: 20vh;
      width: 80%; 
    }
    &__container {
      margin: 0;
      display: flex;
      justify-items: flex-end;
      &__section {
        &__social {
          display: none;
        }
        &__request {
          width: 100%;
          padding: 0 2px;
          &--btn {
            float: right;
          }
        }
      }
      &__nav {
        display: none;
      }
    }
  }
}
